@import "mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";

// scss-docs-end import-stack
body {
  background-color: #f5f5f5;
}

.custome-col {
  padding-left: 0;
  padding-right: 0;
}

.textNavbarLogo {
  margin-left: 10px;
}

.navbar-brand {
  color: $primary;

  span {
    font-size: 18px;
    font-family: "Poppins";
  }

  &:hover {
    text-decoration: none;
  }
}

.custom-link {
  font-size: 14px;
  font-family: "Poppins";
  color: $primary;
}

.header-row {
  text-align: left;
  align-items: center;
}

.navbar-brand {
  align-items: center;
}

.nav-dropdown {
  font-size: 14px;

  &:hover {
    text-decoration-line: underline;
    color: $primary;
  }
}

.image-view {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.container {
  width: 100%;
}

//conten hero
.carousel-item {
  align-items: center;
}

.carousel-caption {
  background-position: center;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h3 {
    font-size: 45px;
    color: whitesmoke;
    z-index: 2;
  }
  button {
    margin-top: 50px;
  }

  p {
    color: whitesmoke;
  }
  img {
    position: relative;
  }
}

//about us
.aboutus-container {
  width: 100vw;
  height: 50vh;
  margin-top: 15px;
  align-items: center;
  text-align: center;
}

.about-us {
  margin-top: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  text-align: center;
  h6 {
    font-weight: 300;
    font-size: medium;
    &:hover {
      font-size: larger;
    }
  }

  h2 {
    font-size: larger;
    &:hover {
      font-size: x-large;
    }
  }

  .aboutus-text {
    text-align: justify;
  }
}
.choose-us {
  align-items: center;
  text-align: center;

  font-family: "Poppins";
  h6 {
    font-weight: 100;
  }
}

//Our Teams
.ourteam-container {
  align-items: center;
}

.row-ourteam {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;

  h3 {
    &:hover {
      font-size: xx-large;
    }
  }

  h1 {
    font-family: "Poppins";
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
  }

  .column {
    margin-top: 20px;
    width: 50%;
    padding: 0.5em 0;
  }
  .card p {
    text-transform: uppercase;
  }
}

//styling card
.card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color: #c3a22c;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.card p {
  font-weight: 300;

  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card:hover {
  background: linear-gradient(#c3a22c, #7a6b2d);
  color: #ffffff;
}
.card:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}

//Our Values

h1 {
  font-size: larger;
  &:hover {
    font-size: xx-large;
  }
}

h6 {
  font-size: medium;
  &:hover {
    font-size: large;
  }
}
.card {
  padding-top: 50px;

  align-items: center;
  border: none;
  margin: 10px;
  img {
    border: 1px;
    border-color: black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
}

//footer
footer {
  h5 {
    text-align: left;
    font-weight: bolder;
    padding-top: 20px;
    font-family: "Open Sans", sans-serif;
  }

  li {
    font-family: "Open Sans", sans-serif;
  }
}

//Services Page
/* Feature Box
---------------------*/
.ourvalues-abra {
  align-items: center;
}

.section {
  background-color: white;
  padding: 100px 0;
  position: relative;

  .feature-box-1 {
    padding: 32px;
    box-shadow: 0 0 30px rgba(124, 117, 19, 0.125);
    margin: 15px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    top: 0;
  }
  .feature-box-1 * {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }
  .feature-box-1 .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #eeba29;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 22px;
    font-size: 27px;
  }
  .feature-box-1 .icon i {
    line-height: 70px;
  }
  .feature-box-1 h5 {
    color: #aa9136;
    font-weight: 600;
  }
  .feature-box-1 p {
    margin: 0;
  }
  .feature-box-1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 10px;
    width: 0;
    background: #aa9136;
    z-index: -1;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }
  .feature-box-1:hover {
    top: -5px;
  }
  .feature-box-1:hover h5 {
    color: #ffffff;
  }
  .feature-box-1:hover p {
    color: rgba(255, 255, 255, 0.8);
  }
  .feature-box-1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    right: auto;
  }
}
.section-title {
  align-items: center;
  padding-bottom: 45px;
}
.section-title h2 {
  font-weight: 700;
  color: #aa9136;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #7a6b2d;
  padding-left: 15px;
}

.row {
  .ourvalues-abra {
    text-align: center;
  }
}

//Contact Us
#contact-us {
  padding: 80px 0;

  h2 {
    font-family: "Poppins";
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  p {
    font-family: "Poppins";
    margin-bottom: 20px;
  }

  form {
    max-width: 400px;

    .form-group {
      margin-bottom: 20px;

      label {
        font-weight: bold;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        padding: 10px;
        border: 1px solid $gray-400;
        border-radius: 4px;
        width: 100%;

        &:focus {
          outline: none;
          border-color: $primary;
        }
      }

      textarea {
        resize: vertical;
        height: 120px;
      }
    }

    button[type="submit"] {
      margin-top: 10px;
      background-color: $primary;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }

  .col-lg-6:last-child {
    margin-top: 30px;

    p {
      margin-bottom: 10px;
    }
  }
}

.card-ourclient {
  text-align: center;
}
